
$highlight-color: #ee534f;


@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body{
    background-color:#ebeff3;
}


.bg {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-size: cover;
background-position: 50% 50%;
background-image: url(../img/bg.jpg);
}
/**************** login page ************************/

.inner-bg {
    padding: 200px 0px 170px;
}

.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    // background-image: -webkit-linear-gradient(left,rgba(255, 255, 255, 255),rgba(255, 255, 255, 255.15),rgba(255, 255, 255, 255));
    // background-image: -moz-linear-gradient(left,rgba(255,255,255,255),rgba(255,255,255,255.15),rgba(255,255,255,255));
    background-image: -moz-linear-gradient(left center , #061C1F, #EE534F, #081D1F);
    // background-image: -ms-linear-gradient(left,rgba(255,255,255,255),rgba(255,255,255,255.15),rgba(255,255,255,255));
    // background-image: -o-linear-gradient(left,rgba(255,255,255,255),rgba(255,255,255,255.15),rgba(255,255,255,255));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.panel-login {
    padding: 25px 25px 30px;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
    // background: rgba(39, 50, 56, 0.6) none repeat scroll 0% 0%;
    border-radius: 4px;
    text-align: left;
}

.panel-login>.panel-heading {
    text-align:center;
}

.panel-login>.panel-heading a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active{
    color: #EE534F;
    font-size: 18px;
}

.form-bottom form button.signIn-btn {
    width: 100%;
}
.signIn-btn:hover {
    opacity: 0.6;
    color: #FFF;
}
.signIn-btn.focus, .signIn-btn:focus, .signIn-btn:hover {
    color: #fff;
    text-decoration: none;
}
.signIn-btn {
    height: 50px;
    margin: 0px;
    padding: 0px 20px;
    vertical-align: middle;
    background: #EE534F none repeat scroll 0% 0%;
    border: 0px none;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #FFF;
    border-radius: 4px;
    text-shadow: none;
    box-shadow: none;
    transition: all 0.3s ease 0s;
}

//navigation

.navbar-default {
    background-color: #273238;
    // border-color: #E7E7E7;

    .navbar-nav{

    	li{

    		a{
				color:#fff;

    			&:hover{
    				color:$highlight-color;
    			}

    			&:focus{
    				color:$highlight-color;
    			}

    		}

    	}

    }

}

// tab for file upload

.nav-tabs {

    border:none;

    li{
        a{
            border: none; 
            color: #333333;

            &:hover {
            border-width: 0;
            border: none;
            color: $highlight-color !important; 
            background: transparent;
            }

            &::after{
                content: ""; 
                background: $highlight-color; 
                height: 2px; position: 
                absolute; width: 100%; 
                left: 0px; bottom: -1px; 
                transition: all 250ms ease 0s; 
                transform: scale(0); 
            }
        }
    }

    > .active > a {
        outline:none;

        &:hover {
            outline:none;
        }
    }

    > li.active > a {

        border: none;
        color: $highlight-color !important; 
        background: transparent;

        &:focus {
            border-width: 0;
            border:none;
        }

        &::after{
            transform: scale(1);
        }

        &:hover{
            border:none;
        }
    }

    >li:hover > a {

        &::after{
            transform: scale(1);
        }
    }

}

.navbar {
    
    border: none;
    border-radius: 0px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: outside none none;
    background-color: #273238;
    background-clip: padding-box;
    // border: 1px solid rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}

.dropdown-menu > li > a:hover,
 .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #273238;
}

.navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: $highlight-color;
    background-color: #273238;
}

//nav tab style

.nave{
    padding-left: 30px;
    margin: 0px;
    list-style: outside none none;
    
    li{

        a{
        position: relative;
        display: block;
        padding: 10px 15px;
        list-style: none;
        // color: red;
        }
    }
}

a:hover, a:focus {
    text-decoration: none;
}


.tab-content{
    padding:20px;

    .form-control {
        resize: vertical;
    }
}

.tab-PostContent{
    padding:20px 0px;
}

#UpdateProfile{
    padding:0px 15px;
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px; 
  }

//image upload with feed

.btn-file {
    position: relative;
    overflow: hidden;

        input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
        border:none;
    }
}


.btn-style {
    color: #333;
    background-color: #FFF;
    padding: 9px 19px;
}

// .btn .btn-primary{
//     background-color:$highlight-color;
// }

.btn-primary {
    color: #fff;
    background-color: $highlight-color;
    border-color: $highlight-color;
}

.btn-primary:hover {
    color: #FFF;
    background-color: $highlight-color;
    border-color: $highlight-color;
}

// .btn-primary:active {
//     color: #FFF;
//     background-color: $highlight-color;
//     border-color: $highlight-color;
// }

//profile setup

.card2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);

    img{
        width: 100%;
        height: 170px;
    }

    .avatar {
      position: relative;
      top: -40px;
      margin-bottom: -40px;

      img {
          width: 80px;
          height: 80px;
          max-width: 80px;
          max-height: 80px;
          -webkit-border-radius: 50%;
             -moz-border-radius: 50%;
                  border-radius: 50%;
        }
    }

    .info {
      padding: 4px 8px 10px;
    }

    .title {
      margin-bottom: 4px;
      font-size: 24px;
      line-height: 1;
      color: #262626;
      vertical-align: middle;
    }

    .desc {
      overflow: hidden;
      font-size: 12px;
      line-height: 20px;
      color: #737373;
      text-overflow: ellipsis;
    }

    .bottom {
      padding: 0 20px;
      margin-bottom: 17px;
    }
}

/************************** post *****************/

.post-heading {
    height: 95px;
    padding: 20px 15px;

    .avatar {
        width: 60px;
        height: 60px;
        display: block;
        margin-right: 15px;
    }

    .img-rounded {
        border-radius: 6px;
    }

    .post-user-name{
        font-size: 16px;
        color: #333;
    }

    .time{
        color: $highlight-color;
    }
}

.post-image {
    img {
        width: 100%;
        height: auto;
        cursor: pointer;
        padding: 0px 15px;
    }
}

.post-description {
    padding: 15px;

    .stats{
        a{
            color: $highlight-color;
        }
    }
}

.post-footer {
    border-top: 1px solid #DDD;
    padding: 15px;

    .form-control { //commenting form
        background-color: #FFF;
        border: 1px solid #E3E3E3;
        border-radius: 4px;
        box-shadow: none;
        color: #444;
        height: 38px;
        padding: 6px 16px;
    }

    .comments-list {
        padding: 0px;
        margin-top: 20px;
        list-style-type: none;

        .comment {
            display: block;
            width: 100%;
            margin: 20px 0px;
        }

        .avatar {
            width: 35px;
            height: 35px;
        }

        .comment-body {
            margin-left: 50px;
        }

        .comment-heading {
            display: block;
            width: 100%;
        }

        .comment-user-name {
            font-size: 14px;
            font-weight: bold;
            display: inline;
            margin-top: 0px;
            margin-right: 10px;

            a{
                color: #333;
            }
        }

        .time {
            font-size: 12px;
            color: $highlight-color;
            margin-top: 0px;
            display: inline;
        }
    }
}

//events

.panel{
        // margin-bottom: 0px;

    .events-title {
        p {
            padding: 20px 15px 0px;
            margin:0px;
            font-size: 22px;
        }
    }

    .event-heading {
        height: auto;
        padding: 20px 15px 10px;

        .avatar {
            width: 100px;
            height: 80px;
            display: block;
            margin-right: 15px;
        }

        .title{
            a{
                color: #333;
                font-size: 16px;
            }
        }

        .event-img-rounded {
            border-radius: 6px;
        }

        .event-description {
            p{
                padding-top:10px;
                box-sizing: border-box;
                font-size: 12px;
            }
        }
    }

}

// recent picture

.panel{

    .picture-title {
        p{
            padding: 20px 15px 0px;
            margin:0px;
            font-size: 22px;
        }
    }

    .panel-body {

        .photos {
            list-style: outside none none;
            display: inline-block;
            background: #FFF none repeat scroll 0% 0%;
            top: 0px;
            right: 0px;
            z-index: 2;
            margin-bottom: 0px;
            padding: 0px;

            li {
                float: left;
                margin: 0px;
                width: 50%;

                a {
                    display: block;
                    padding-left: 1px;
                    padding-top: 1px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}


// ********************* profile page  **********************//

.cover-container {
    // background-image: url(../img/Profile/cover/game.jpg);
    height: 350px;
    margin-top: -20px;
    background-size: cover;
    position: relative;
    background-position: center center;
    margin-bottom: 20px;
}

#cv img{
    width: 100%;
    height: 350px;
    // z-index: -200;
}

.social-cover {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

.social-avatar {
    left: 0px;
right: 300px;
    bottom: 0px;
top: 0px;
position: absolute;
    width: 450px;
}

.img-avatar{
    margin: 150px auto auto;
    padding-left: 50px;
}

.img-avatar img {
    display: block;
    border-radius: 4px;
    // border: 2px solid #FFF;
    
}

.profile-text{
    margin: 150px auto auto;
    padding: 1px 0px 0px 185px; 
}

.profileName{
    color: #fff;
}

.profileBio{
    color: #fff;
}

.btn-profile{
    color: #FFF;
    border-color: #FFF;
    border:none;
    background: transparent none repeat scroll 0px 0px;
    padding:5px 0px; 
}

/************************ map ****************************/

#display_map {
width:100%;
height:100%;
position: absolute;
z-index : -200;
top: 0px;
left: 0px;
}

.modal-body{
    .form-control {
        resize: vertical;
    }
}

.modal-header{
    background-color: #273238;

    .close {
        color: #fff;
        font-size: 28px;
        font-weight: 100;
        opacity: 10;
    }

    h4{
        text-align: center;
        color: #fff;
    }
}

.orange-circle-button {
    font-size: 1.2em;
    line-height: 1.1em;
    color: #ffffff;
    background-color: $highlight-color;
    margin: auto;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    position: absolute;
    bottom: 150px;
    right: 250px;
}
.orange-circle-button:hover {
    color:#ffffff;
    background-color: $highlight-color;
    text-decoration: none;
    
}

.orange-circle-button:visited {
    color:#ffffff;
    background-color: $highlight-color;
    text-decoration: none;
    
}

/******************** marker click sidebar *********************************/
// .recentItem a > i{ color:#000; font-size:30px;}
// .recentItem a:hover > i{ color:#a54686;}
.floatR {
 float:left;
}

.recentItem{

    position:fixed;
    right:-500px;
    background:#fff;
    top:50px;
    z-index:100;
    width:500px;
    overflow:auto;
    height:100%;

        a>i{
            color:#000;
            font-size:30px;
            padding:5px 0px 5px 10px;
            font-weight: 100;
        }

    .recentItemTxt {
            color: #fff;
            padding: 10px 0px; 
            margin: 50px 0px 0px;
            font-size: 22px;
            text-align: center;
            background-color:$highlight-color;
        
    }

    .photoMap {
            padding:10px;
            display: inline-block;
        .photos {
            list-style: outside none none;
            display: inline-block;
            background: #FFF none repeat scroll 0% 0%;
            top: 0px;
            right: 0px;
            z-index: 2;
            margin-bottom: 0px;
            padding: 0px;

            li {
                float: left;
                margin: 0px;
                width: 50%;

                a {
                    display: block;
                    padding-left: 1px;
                    padding-top: 1px;

                    img {
                        width: 100%;
                        height: 150px;
                    }
                }
            }
        }
    }
}
