@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
body {
  background-color: #ebeff3; }

.bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../img/bg.jpg); }

/**************** login page ************************/
.inner-bg {
  padding: 200px 0px 170px; }

.panel-login > .panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -moz-linear-gradient(left center, #061c1f, #ee534f, #081d1f); }

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.panel-login input:hover,
.panel-login input:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc; }

.panel-login {
  padding: 25px 25px 30px;
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
  border-radius: 4px;
  text-align: left; }

.panel-login > .panel-heading {
  text-align: center; }

.panel-login > .panel-heading a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.panel-login > .panel-heading a.active {
  color: #EE534F;
  font-size: 18px; }

.form-bottom form button.signIn-btn {
  width: 100%; }

.signIn-btn:hover {
  opacity: 0.6;
  color: #FFF; }

.signIn-btn.focus, .signIn-btn:focus, .signIn-btn:hover {
  color: #fff;
  text-decoration: none; }

.signIn-btn {
  height: 50px;
  margin: 0px;
  padding: 0px 20px;
  vertical-align: middle;
  background: #EE534F none repeat scroll 0% 0%;
  border: 0px none;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #FFF;
  border-radius: 4px;
  text-shadow: none;
  box-shadow: none;
  transition: all 0.3s ease 0s; }

.navbar-default {
  background-color: #273238; }
  .navbar-default .navbar-nav li a {
    color: #fff; }
    .navbar-default .navbar-nav li a:hover {
      color: #ee534f; }
    .navbar-default .navbar-nav li a:focus {
      color: #ee534f; }

.nav-tabs {
  border: none; }
  .nav-tabs li a {
    border: none;
    color: #333333; }
    .nav-tabs li a:hover {
      border-width: 0;
      border: none;
      color: #ee534f !important;
      background: transparent; }
    .nav-tabs li a::after {
      content: "";
      background: #ee534f;
      height: 2px;
      position: absolute;
      width: 100%;
      left: 0px;
      bottom: -1px;
      transition: all 250ms ease 0s;
      transform: scale(0); }
  .nav-tabs > .active > a {
    outline: none; }
    .nav-tabs > .active > a:hover {
      outline: none; }
  .nav-tabs > li.active > a {
    border: none;
    color: #ee534f !important;
    background: transparent; }
    .nav-tabs > li.active > a:focus {
      border-width: 0;
      border: none; }
    .nav-tabs > li.active > a::after {
      transform: scale(1); }
    .nav-tabs > li.active > a:hover {
      border: none; }
  .nav-tabs > li:hover > a::after {
    transform: scale(1); }

.navbar {
  border: none;
  border-radius: 0px; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0px;
  margin: 2px 0px 0px;
  font-size: 14px;
  text-align: left;
  list-style: outside none none;
  background-color: #273238;
  background-clip: padding-box;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176); }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #273238; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ee534f;
  background-color: #273238; }

.nave {
  padding-left: 30px;
  margin: 0px;
  list-style: outside none none; }
  .nave li a {
    position: relative;
    display: block;
    padding: 10px 15px;
    list-style: none; }

a:hover, a:focus {
  text-decoration: none; }

.tab-content {
  padding: 20px; }
  .tab-content .form-control {
    resize: vertical; }

.tab-PostContent {
  padding: 20px 0px; }

#UpdateProfile {
  padding: 0px 15px; }

.card {
  background: #FFF none repeat scroll 0% 0%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px; }

.btn-file {
  position: relative;
  overflow: hidden; }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    border: none; }

.btn-style {
  color: #333;
  background-color: #FFF;
  padding: 9px 19px; }

.btn-primary {
  color: #fff;
  background-color: #ee534f;
  border-color: #ee534f; }

.btn-primary:hover {
  color: #FFF;
  background-color: #ee534f;
  border-color: #ee534f; }

.card2 {
  text-align: center;
  margin-bottom: 20px;
  background-color: #FFF;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05); }
  .card2 img {
    width: 100%;
    height: 170px; }
  .card2 .avatar {
    position: relative;
    top: -40px;
    margin-bottom: -40px; }
    .card2 .avatar img {
      width: 80px;
      height: 80px;
      max-width: 80px;
      max-height: 80px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
  .card2 .info {
    padding: 4px 8px 10px; }
  .card2 .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle; }
  .card2 .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis; }
  .card2 .bottom {
    padding: 0 20px;
    margin-bottom: 17px; }

/************************** post *****************/
.post-heading {
  height: 95px;
  padding: 20px 15px; }
  .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px; }
  .post-heading .img-rounded {
    border-radius: 6px; }
  .post-heading .post-user-name {
    font-size: 16px;
    color: #333; }
  .post-heading .time {
    color: #ee534f; }

.post-image img {
  width: 100%;
  height: auto;
  cursor: pointer;
  padding: 0px 15px; }

.post-description {
  padding: 15px; }
  .post-description .stats a {
    color: #ee534f; }

.post-footer {
  border-top: 1px solid #DDD;
  padding: 15px; }
  .post-footer .form-control {
    background-color: #FFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: none;
    color: #444;
    height: 38px;
    padding: 6px 16px; }
  .post-footer .comments-list {
    padding: 0px;
    margin-top: 20px;
    list-style-type: none; }
    .post-footer .comments-list .comment {
      display: block;
      width: 100%;
      margin: 20px 0px; }
    .post-footer .comments-list .avatar {
      width: 35px;
      height: 35px; }
    .post-footer .comments-list .comment-body {
      margin-left: 50px; }
    .post-footer .comments-list .comment-heading {
      display: block;
      width: 100%; }
    .post-footer .comments-list .comment-user-name {
      font-size: 14px;
      font-weight: bold;
      display: inline;
      margin-top: 0px;
      margin-right: 10px; }
      .post-footer .comments-list .comment-user-name a {
        color: #333; }
    .post-footer .comments-list .time {
      font-size: 12px;
      color: #ee534f;
      margin-top: 0px;
      display: inline; }

.panel .events-title p {
  padding: 20px 15px 0px;
  margin: 0px;
  font-size: 22px; }
.panel .event-heading {
  height: auto;
  padding: 20px 15px 10px; }
  .panel .event-heading .avatar {
    width: 100px;
    height: 80px;
    display: block;
    margin-right: 15px; }
  .panel .event-heading .title a {
    color: #333;
    font-size: 16px; }
  .panel .event-heading .event-img-rounded {
    border-radius: 6px; }
  .panel .event-heading .event-description #txt p {
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 12px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 2;
    -moz-box-orient: vertical;
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    clear: left; }

.panel .picture-title p {
  padding: 20px 15px 0px;
  margin: 0px;
  font-size: 22px; }
.panel .panel-body .photos {
  list-style: outside none none;
  display: inline-block;
  background: #FFF none repeat scroll 0% 0%;
  top: 0px;
  right: 0px;
  z-index: 2;
  margin-bottom: 0px;
  padding: 0px; }
  .panel .panel-body .photos li {
    float: left;
    margin: 0px;
    width: 50%; }
    .panel .panel-body .photos li a {
      display: block;
      padding-left: 1px;
      padding-top: 1px; }
      .panel .panel-body .photos li a img {
        width: 100%; }

.cover-container {
  height: 350px;
  margin-top: -20px;
  background-size: cover;
  position: relative;
  background-position: center center;
  margin-bottom: 20px; }

#cv img {
  width: 100%;
  height: 350px; }

.social-cover {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.4); }

.social-avatar {
  left: 0px;
  right: 300px;
  bottom: 0px;
  top: 0px;
  position: absolute;
  width: 450px; }

.img-avatar {
  margin: 150px auto auto;
  padding-left: 50px; }

.img-avatar img {
  display: block;
  border-radius: 4px; }

.profile-text {
  margin: 150px auto auto;
  padding: 1px 0px 0px 185px; }

.profileName {
  color: #fff; }

.profileBio {
  color: #fff; }

.btn-profile {
  color: #FFF;
  border-color: #FFF;
  border: none;
  background: transparent none repeat scroll 0px 0px;
  padding: 5px 0px; }

/************************ map ****************************/
#display_map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -200;
  top: 0px;
  left: 0px; }

.modal-body .form-control {
  resize: vertical; }

.modal-header {
  background-color: #273238; }
  .modal-header .close {
    color: #fff;
    font-size: 28px;
    font-weight: 100;
    opacity: 10; }
  .modal-header h4 {
    text-align: center;
    color: #fff; }

.orange-circle-button {
  font-size: 1.2em;
  line-height: 1.1em;
  color: #ffffff;
  background-color: #ee534f;
  margin: auto;
  border-radius: 50%;
  height: 4em;
  width: 4em;
  position: absolute;
  bottom: 150px;
  right: 250px; }

.orange-circle-button:hover {
  color: #ffffff;
  background-color: #ee534f;
  text-decoration: none; }

.orange-circle-button:visited {
  color: #ffffff;
  background-color: #ee534f;
  text-decoration: none; }

/******************** marker click sidebar *********************************/
.floatR {
  float: left; }

.recentItem {
  position: fixed;
  right: -500px;
  background: #fff;
  top: 50px;
  z-index: 100;
  width: 500px;
  overflow: auto;
  height: 100%; }
  .recentItem a > i {
    color: #000;
    font-size: 30px;
    padding: 5px 0px 5px 10px;
    font-weight: 100; }
  .recentItem .recentItemTxt {
    color: #fff;
    padding: 10px 0px;
    margin: 50px 0px 0px;
    font-size: 22px;
    text-align: center;
    background-color: #ee534f; }
  .recentItem .photoMap {
    padding: 10px;
    display: inline-block; }
    .recentItem .photoMap .photos {
      list-style: outside none none;
      display: inline-block;
      background: #FFF none repeat scroll 0% 0%;
      top: 0px;
      right: 0px;
      z-index: 2;
      margin-bottom: 0px;
      padding: 0px; }
      .recentItem .photoMap .photos li {
        float: left;
        margin: 0px;
        width: 50%; }
        .recentItem .photoMap .photos li a {
          display: block;
          padding-left: 1px;
          padding-top: 1px; }
          .recentItem .photoMap .photos li a img {
            width: 100%;
            height: 150px; }

/************************** events page ****************************/
.eventPanel {
  height: 470px; }
  .eventPanel .events {
    padding: 10px 20px; }
    .eventPanel .events img {
      width: 100%;
      height: 200px; }
    .eventPanel .events .item {
      overflow: hidden; }

/**************************** Admin Controll *********************/
.footer-model-btn {
  padding-bottom: 20px; }

.modal-content {
  border-radius: 0px; }
  .modal-content .modal-header1 {
    background-color: #fff; }
    .modal-content .modal-header1 .close {
      padding: 10px 10px 0px 10px;
      color: #333;
      font-size: 28px;
      font-weight: 100;
      opacity: 10; }

@media only screen and (max-width: 600px) {
  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block; }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  #no-more-tables tr {
    border: 1px solid #ccc; }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left; }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold; }

  /*
  Label the data
  */
  #no-more-tables td:before {
    content: attr(data-title); } }
